/* Скидання стилів */
@import url("reset.css");

/*fonts*/
@import url("fonts.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", san-serif;
  font-size: 16px;
  color: #000000;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: visible;

  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 15px;
}

.page-margin-top {
  margin-top: 100px;
}

[class*="--margin"] {
  margin-bottom: 50px;
}

.header {
  padding: 20px 0;
  font-size: 24px;
  background-color: rgb(216, 99, 160);
  color: beige;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 50;
  left: 0;
  right: 0;
}

.footer {
  padding: 25px 0;
  font-size: 24px;
  background-color: rgb(216, 99, 160);
  color: beige;
  text-align: center;
}

.footer__link {
  font-size: 18px;
  color: #c7c7bd;
  margin-bottom: 20px;
}

.footer__link a:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 12px;
  color: beige;
  color: #c7c7bd;
}

.practice__title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

/*-----Floral----*/

.floral {
  font-family: "KoPubBatang", serif;
  background: #f8f3ec;
}

.floral__wrapper {
  max-width: 1230px;
  margin: 0 auto;
}

.floral__blocks {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
  justify-content: space-between;
}

.block__small {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.items__wrapper {
}

.small-block {
  display: grid;
  grid-template: 1fr / repeat(1, 1fr);
  gap: 51px;
}

.block__big {
  padding-top: 52px;
}

.big-block__title {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item__link {
  display: flex;
  aspect-ratio: 369 / 378;
  max-height: 369px;
  overflow: hidden;
  cursor: pointer;
}

.item__link img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.item__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-grow: 1;
}

.item__active {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}

.item__name {
  color: #2c2c2c;
  font-size: 16px;
  line-height: 1;
}

.item__icons {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.item__icon {
  aspect-ratio: 23 / 23;
  object-fit: contain;
  max-width: 23px;
  cursor: pointer;
  transition: opacity 0.3;
}

.item__price {
  font-family: "Carme", serif;
  color: #4e4e4e;
  font-size: 18px;
  line-height: 1;
}

.button-floral {
  padding: 10px 9px 11px 10px;
  border: 1px solid #dbccba;
  width: fit-content;
  max-height: 62px;
  align-self: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3;
}

.button-floral__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #dbccba;
  color: #2c2c2c;
  font-size: 17px;
  line-height: 1.38;
  padding: 9px 30px;
}

.button-floral__wrapper img {
  aspect-ratio: 23 / 14;
  object-fit: contain;
  flex-shrink: 0;
}

.big-block {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

/**------Featured Products----**/

.section-featured {
}

.section-featured--padding {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-featured__products {
  margin-bottom: 24px;
}

.section-featured__title-block {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.subtitle {
  color: #00b207;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.title {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.products__wrapper {
  display: grid;
  grid-template: 1fr / repeat(1, 1fr);
  gap: 20px;
  height: 100%;
}

.banner {
  max-height: 335px;
  min-height: 335px;
  width: 100%;
  overflow: hidden;
}

.banner--height {
  max-height: 423px;
  min-height: 423px;
}

.banner__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.banner__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 248 / 335;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__body {
  position: relative;
  left: 0;
  right: 0;
  top: 24px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.banner__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.banner__title {
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.banner__sale {
  color: #00b207;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.link-banner {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  border-radius: 43px;
  color: #00b207;
  text-align: justify;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  border: 1px solid transparent;
  transition: border-color 0.3s;
  cursor: pointer;
}

.link-banner:hover {
  border-color: #00b207;
}

.banner__sale--center-color {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #1a1a1a;
}

.weight {
  font-weight: normal;
}

.product {
  max-width: 100%;
}

.product__wrapper {
  position: relative;
  border: 1px solid #e6e6e6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.product__wrapper:hover,
.product-card__wrapper:hover {
  border-color: #2c742f;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  z-index: 2;
}

.product__wrapper:hover .product__name,
.product-card__wrapper:hover .product-card__name {
  color: #2c742f;
}

.product__wrapper:hover .product__img,
.product-card__wrapper:hover .product-card__img img {
  transform: scale(1.05);
}

.product__wrapper:hover .add-to-cart.button,
.product-card__wrapper:hover .add-to-cart.button {
  background: #00b307;
}

.product__wrapper:hover:hover .add-to-cart.button svg path,
.product-card__wrapper:hover .add-to-cart.button svg path {
  stroke: #fff;
}

.product__img-link {
  padding: 5px;
  aspect-ratio: 254 / 230;
  max-height: 230px;
  overflow: hidden;
  cursor: pointer;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.product__active-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  right: 11px;
  top: 11px;
  transition: opacity 0.3s;
}

.product__wrapper .product__active-group {
  opacity: 1;
}

.button {
  padding: 10px;
  border: 1px solid #f2f2f2;
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.button svg {
  max-width: 100%;
  flex-shrink: 0;
  transition: stroke 0.3s;
}

.button:hover {
  background-color: #00b307;
  border: #00b307;
}

.button:active {
  background: #2c742f;
  border: #2c742f;
}

.button:hover svg path {
  stroke: #fff;
}

.product__content-block {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.product__prices {
  display: flex;
  gap: 1px;
  align-items: center;
}

.product__name {
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  display: flex;
}

.product__name a,
.product-card__name a {
  flex-grow: 1;
}

.product__name:hover a,
.product-card__name:hover a {
  text-decoration: underline;
}

.product__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.product__raiting {
  width: 100%;
}

.star__icon {
  display: inline-flex;
  flex-basis: 16px;
  align-items: center;
}

.star__icon img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart.button {
  background: #f2f2f2;
}

/*-----TOP PRODUCTS--------*/

.top-products {
  display: grid;
  grid-template: 1fr / repeat(1, 1fr);
  gap: 20px;
}

.top-products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-card__wrapper {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.top-products__title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 14px;
}

.product-card__body {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid #e6e6e6;
  width: 100%;
}

.product-card__img {
  display: block;
  padding: 5px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s;
}

.product-card__img img {
  object-fit: contain;
  max-height: 102px;
  max-width: 102px;
}

.product-card__info {
  padding: 24px 12px;
  position: relative;
  flex: 1 0 10%;
}

.product-card__name {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.5;
}

.product-card__price {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 6px;
  transition: opacity 0.3s;
  opacity: 0;
}

.product-card__raiting {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0;
}

.product-card__active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  transition: opacity 0.3s, translate 0.3s;
  position: absolute;
  top: 45%;
  left: 5%;
}

/*-----MEDIA-----*/

@media (min-width: 568px) {
  .big-block__title {
    font-size: 48px;
    margin-bottom: 20px;
    grid-column: span 2;
  }

  .block__small {
    gap: 40px;
  }

  .small-block {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 25px;
  }

  .big-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    row-gap: 29px;
    column-gap: 25px;
  }

  .button-floral {
    width: fit-content;
  }

  .button-floral__wrapper {
    justify-content: space-between;
  }

  /*-----Products----*/

  .products__wrapper {
    grid-template: 1fr / repeat(2, 1fr);
    gap: 15px;
  }
}

@media (min-width: 595px) {
  .top-products {
    grid-template: 1fr / repeat(2, 1fr);
    gap: 10px;
  }
}

@media (min-width: 768px) {
  /*-----Products----*/

  .products__wrapper {
    grid-template: 1fr / repeat(3, 1fr);
  }

  .product-card__active {
    gap: 10px;
  }
}

@media (min-width: 826px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 900px) {
  .top-products {
    grid-template: 1fr / repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 991px) {
  .product__wrapper:hover .product__active-group {
    opacity: 0;
  }

  .product-card__wrapper:hover .product-card__active {
    opacity: 0;
    visibility: hidden;
  }

  .product-card__wrapper:hover .product-card__price,
  .product-card__wrapper:hover .product-card__raiting {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 1000px) {
  .floral__blocks {
    gap: 31px;
    padding-bottom: 100px;
    flex-direction: row;
  }

  .block__small {
    flex: 1 0 33.33%;
    gap: 50px;
    align-self: flex-start;
  }

  .small-block {
    display: grid;
    grid-template: 1fr / repeat(1, 1fr);
    gap: 14px;
  }

  .big-block__title {
    font-size: 60px;
    margin-bottom: 49px;
  }

  .item__active {
    gap: 15px;
  }

  .item__name {
    font-size: 20px;
  }

  .item__icons {
    gap: 20px;
  }

  .big-block {
    column-gap: 37px;
  }

  /***---Products-----***/
}

@media (min-width: 1200px) {
  /*-----Products----*/

  .products__wrapper {
    grid-template: 1fr / repeat(5, 1fr);
    gap: 20px;
  }

  .top-products {
    grid-template: 1fr / repeat(4, 1fr);
    gap: 24px;
  }

  .top-products__title {
    margin-bottom: 16px;
  }
}

@media (any-hover: hover), (pointer: fine) {
  .product-card__wrapper .product-card__price,
  .product-card__wrapper .product-card__raiting {
    opacity: 1;
    visibility: visible;
  }

  .product__wrapper .product__active-group {
    opacity: 0;
  }

  .product-card__wrapper .product-card__active {
    opacity: 0;
    visibility: hidden;
  }

  .product__wrapper:hover .product__active-group {
    opacity: 1;
  }

  .product-card__wrapper:hover .product-card__active {
    opacity: 1;
    visibility: visible;
    transform: translate(50% 10%);
  }

  .item__link img:hover {
    transform: scale(1.05);
  }

  .item__name a:hover {
    text-decoration: underline;
    text-decoration-color: #9b8872;
  }

  .button-floral:hover .button-floral__wrapper {
    background-color: #d8c2a8;
  }

  .item__icon:hover {
    opacity: 0.6;
  }
}
