/* Скидання стилів */
@import url("reset.css");

@import url("fonts.css");

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.header {
  padding: 20px 0;
  font-size: 24px;
  background-color: rgb(216, 99, 160);
  color: beige;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 50;
  left: 0;
  right: 0;
}

.footer {
  padding: 25px 0;
  font-size: 24px;
  background-color: rgb(216, 99, 160);
  color: beige;
  text-align: center;
}

.footer__link {
  font-size: 18px;
  color: #c7c7bd;
  margin-bottom: 20px;
}

.footer__link a:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 12px;
  color: beige;
  color: #c7c7bd;
}

.section-popular {
  font-family: "Poppins", sans-serif;
}

.section-popular--margin {
  margin-top: 100px;
  margin-bottom: 60px;
}

.section-popular__title-block {
  margin-bottom: 32px;
}

.title {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
  margin-right: 73%;
}

.link {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}

.link:hover {
  border: 1px solid #00b207;
  border-radius: 4px;
}

.link__title {
  color: #00b207;
  font-weight: 500;
  line-height: 1.5;
}

.product {
  max-width: 264px;
  position: relative;
  border: 1px solid #e6e6e6;
}

.product:hover {
  border: 1px solid #2c742f;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.product:hover .product__name {
  color: #2c742f;
}

.product:hover .add-to-cart.button {
  background: #00b307;
}

.product:hover:hover .add-to-cart.button svg path {
  stroke: #fff;
}

.product__img-link {
  padding: 5px;
}

.product__active-group {
  position: absolute;
  right: 11px;
  top: 11px;
}

.product .product__active-group {
  opacity: 0;
}

.product:hover .product__active-group {
  opacity: 1;
}

.product__whishlist {
  margin-bottom: 6px;
}

.button {
  padding: 10px;
  border: 1px solid #f2f2f2;
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background: #00b307;
  border: 1px solid #00b307;
}

.button:active {
  background: #2c742f;
  border: 1px solid #2c742f;
}

.button:hover svg path {
  stroke: #fff;
}

.product__content-block {
  padding: 16px;
}

.product__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}

.product__name:hover {
  text-decoration: underline;
}

.product__content {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 6px;
}

.product__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.product__raiting {
  width: 100%;
}

.star__icon {
  display: inline-block;
}

.add-to-cart {
  display: inline-block;
  vertical-align: middle;
}

.add-to-cart.button {
  background: #f2f2f2;
}

.section-business {
  font-family: "Circular Std", sans-serif;
  background-color: #5a54f2;
  color: #fff;
  position: relative;
}

.section-business:before,
.section-business:after {
  position: absolute;
  left: -5%;
  width: 110%;
  height: 60px;
  content: "";
}

.section-business:before {
  top: 0;
  border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
  background-color: #fff;
}

.section-business:after {
  bottom: 0;
  border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
  background: #231f8b;
}

.section-business--margin {
  margin-bottom: 60px;
}

.section-business__container {
}

.section-business__items {
  padding: 97px 0 20px 0;
}

.section-business__item {
  font-size: 0;
}

.section-business__item:nth-child(even) {
  text-align: right;
}

.section-business__img-block {
  max-width: 430px;
  position: relative;
  display: inline-block;
  top: -100px;
}

.section-business__img-block--bottom {
  top: 10px;
}

.section-business__img-block--margin-right {
  margin-right: 70px;
}

.section-business__img {
  border-radius: 20px;
  box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.4);
  position: relative;
}

.section-business__img--dark-shadow {
  box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.3);
}

.section-business__img img {
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.section-business__blur {
  position: absolute;
  filter: blur(25px);
  top: 97px;
  right: 20px;
  left: 20px;
  height: 548px;
  z-index: 2;
}

.section-business__decor {
  position: absolute;
}

.small-circle--left {
  top: 127px;
  left: -90px;
}

.big-circle--left {
  top: 213px;
  left: -100px;
  z-index: 3;
}

.dots--left {
  top: 376px;
  left: -90px;
  z-index: 1;
}

.section-business__text-block {
  max-width: 602px;
  display: inline-block;
}

.section-business__text-block:nth-child(odd) {
  max-width: 506px;
  margin-right: 69px;
  text-align: left;
}

.section-business__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 13px;
}

.section-business__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.28;
  margin-bottom: 39px;
  max-width: 480px;
}

.button-orange {
  padding: 21px 26px 22px 26px;
  border-radius: 60px;
  background: #f35b09;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
}

.button-orange:hover {
  background: #ef651a;
}

.section-business__item--small {
  max-width: 979px;
}

.small-circle--right {
  right: 273px;
  top: -45px;
  z-index: 3;
}

.medium-circle--right {
  right: -120px;
  top: -20px;
}

.dots--right {
  right: -150px;
  bottom: 50px;
}

.block {
  font-size: 28px;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.block__name {
  padding: 20px 0;
  background-color: #231f8b;
  text-align: center;
}

.block__name {
  position: sticky;
  top: 100px;
}

.block__name--green {
  background-color: #00b207;
}

.block__name--purple {
  background-color: purple;
}

.section--margin {
  margin-bottom: 60px;
}
